{% load static %}
<div
  class="card"
  onclick="location.href='{% url 'post-detail' slug=post.id %}'"
>
  <div class="card-image-container">
    <img
      src="{% static 'blog/images/' %}{{post.img}}"
      alt="Minimalist desk setup"
      class="card-image"
    />
  </div>
  <div class="card-content">
    <p class="card-meta">
      <span class="card-date">{{post.date}}</span>
    </p>
    <h3 class="card-title">{{post.title}}</h3>
    <p class="card-excerpt">{{post.content|first|truncatewords:20}}</p>
    <a href="#" class="card-link">Read post &rarr;</a>
  </div>
</div>
