{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->

{% block page_title %}
Blog
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/header.css' %}" />
<link rel="stylesheet" href="{% static 'blog/main.css' %}" />
{% endblock css_files %}

<!-- prettier-ignore -->

{% block content %}

{% include "blog/includes/header.html" %}
<div class="hero">
  <p class="hero-header">PERSONAL NOTES / DESIGN / QUIET SYSTEMS</p>
  <p class="hero-title special-font">
    A calm corner for thoughtful notes on design, daily rituals, and building a
    softer digital life.
  </p>
  <p class="hero-footer">
    Hi, I'm Mayar. I write about the small details that make work, websites, and
    everyday systems feel more intentional.
  </p>
</div>
<div class="index-posts">
  <h2 class="special-font">Latest Blogs</h2>
  <div class="posts-wrapper grid">
    {% for post in posts %} {% include "blog/includes/card.html" %} {% endfor %}
  </div>
</div>

{% endblock content %}
