{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/header.css' %}" />
<link rel="stylesheet" href="{% static 'blog/main.css' %}" />
<link rel="stylesheet" href="{% static 'blog/addpost.css' %}" />
{% endblock css_files %}

<!-- prettier-ignore -->
{% block page_title %}
All Posts
{% endblock page_title %}

{% block content %}

{% include "blog/includes/header.html" %}

<div class="index-posts flex">
  <div class="flex post-holder">
    <h2 class="special-font">All Posts</h2>
    <a class="btn-submit" href="{% url 'add-post' %}">Add Post</a>
  </div>
  <p class="hero-footer">
    Browse every essay, note, and quiet thought from the blog.
  </p>
  <div class="posts-wrapper grid">
    {% for post in posts %} {% include "blog/includes/card.html" %} {% endfor %}
  </div>
</div>

{% endblock content %}
