{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->

{% block page_title %}
Blog
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/header.css' %}" />
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock css_files %}

<!-- prettier-ignore -->

{% block content %}

{% include "blog/includes/header.html" %}

<article class="article-container">
  <header class="article-header">
    <h1 class="article-main-title">{{post.title}}</h1>
    <div class="article-meta">
      {% if post.author %}
      <a
        href="{% url 'author-posts' first_name=post.author.first_name last_name=post.author.last_name %}"
        ><span class="author">{{ post.author }}</span></a
      >
      {% endif %}
      <span class="date">{{post.date}}</span>
      <div class="article-tags">
        <p>{{post.tags_set.all}}</p>
        {% for tag in post.tags.all %}
        <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
      </div>
    </div>
  </header>

  <div class="article-featured-image">
    <img src="{{post.image}}" alt="Minimalist desk setup" />
  </div>

  <div class="article-body">
    <h2 class="body-title">{{post.excerpt}}</h2>
    <!-- prettier-ignore -->
    {{post.content|linebreaks }}
  </div>
</article>

{% endblock content %}
