<!-- prettier-ignore -->
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}Mayar's Blog{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% block css_files %}{% endblock css_files %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'blog/header.js' %}"></script>
    <script src="{% static 'blog/post.js' %}"></script>
  </body>
</html>
